{
  "extends": "airbnb",
  "plugins": ["import", "react", "jsx-a11y"],
  "settings": {
    "import/core-modules": ["electron"]
  },
  "rules": {
    "func-names": ["error", "never"],
    "comma-dangle": ["error", "never"],
    "no-console": ["error", {"allow": ["log", "warn", "error"]}]
  }
}
